.login__box {
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  display: flex;
}

.login__box form {
  height: 300px;
  width: 300px;
}

.login__container .drop {
  width: 500px;
  height: 500px;
  background-color: #d7eeef8c;
  border-radius: 62% 38% 24% 76% / 59% 60% 40% 41%;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  display: flex;
  position: relative;
  box-shadow: inset 20px 20px 20px #43b6d5a6, 25px 35px 20px #87d2e3c7, 25px 30px 30px #0000000d, inset -20px -20px 25px #ffffffe6;
}

.login__container .drop:before {
  content: "";
  width: 35px;
  height: 35px;
  opacity: .9;
  background: #43b6d5a6;
  border-radius: 50%;
  position: absolute;
  top: 35px;
  left: 160px;
}

.login__container .drop:after {
  content: "";
  width: 15px;
  height: 15px;
  opacity: .9;
  background: #43b6d5a6;
  border-radius: 50%;
  position: absolute;
  top: 65px;
  left: 190px;
}

.login__container .drop:hover {
  border-radius: 50%;
}

.login__container .drop .content {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 40px;
  display: flex;
  position: relative;
}

.login__container .drop .content h2 {
  color: #333;
  font-size: 1.5em;
  position: relative;
}

.login__container .drop .content form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: flex;
}

.login__container .drop .content form .input-box {
  width: 225px;
  border-radius: 25px;
  position: relative;
  box-shadow: inset 2px 5px 10px #43b6d5a6, inset -2px -5px 10px #fff, 15px 15px 10px #0000000d, 15px 10px 15px #43b6d5a6;
}

.login__container .drop .content form .input-box:last-child {
  width: 120px;
  background: #3a86ff;
  transition: all .5s;
  box-shadow: inset 2px 5px 10px #0000001a, 15px 15px 10px #0000000d, 15px 10px 15px #00000006;
}

.login__container .drop .content form .input-box:last-child:hover {
  width: 150px;
}

.login__container .drop .content form .input-box input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 15px;
  font-size: 1em;
  font-weight: bold;
}

.login__container .drop .content form .input-box button[type="submit"] {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: .1em;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 1em;
  font-weight: 500;
}

.btn {
  width: 120px;
  height: 120px;
  cursor: pointer;
  color: #fff;
  letter-spacing: .1em;
  text-align: center;
  background: #00b4d8;
  border-radius: 44% 56% 65% 35% / 57% 58% 42% 43%;
  justify-content: center;
  align-items: center;
  font-size: .8em;
  line-height: 1.2em;
  text-decoration: none;
  transition: all .25s;
  display: flex;
  position: absolute;
  bottom: 0;
  right: -120px;
  box-shadow: inset 10px 10px 10px #00b4d80d, 15px 25px 10px #00b4d81a, 15px 20px 20px #00b4d81a, inset -10px -10px 15px #ffffff80;
}

.btn:before {
  content: "";
  width: 20px;
  height: 20px;
  opacity: .45;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 30px;
}

.btn.signup {
  width: 80px;
  height: 80px;
  background: #f77f00;
  border-radius: 49% 51% 52% 48% / 63% 59% 41% 37%;
  bottom: 150px;
  right: -140px;
  box-shadow: inset 10px 10px 10px #f77f000d, 15px 25px 10px #f77f001a, 15px 20px 20px #f77f001a, inset -10px -10px 15px #ffffff80;
}

.btn.signup:before {
  width: 15px;
  height: 15px;
  left: 20px;
}

.btn :hover {
  border-radius: 50%;
}

.error {
  color: red;
  font-size: 14px;
}

/*# sourceMappingURL=login-component.31db5c86.css.map */
