.card__component {
  width: 225px;
  border: 1px solid grey;
  margin: 20px;
  background-color: white;
}
.card__component .card__img {
  height: 100px;
  border-radius: 50%;
  border: solid 3px white;
  margin-top: 100px;
  width: 100px;
  box-shadow: 0px 2px 10px 2px #67b799;
}
.card__profileimg {
  position: relative;
  height: 100px;
  align-items: center;
  position: relative;
  justify-content: center;
  background: #67b799;
  display: flex;
}
.card__details {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  align-items: center;
}
.card__details h2 {
  color: deeppink;
  margin: 0;
}
.card__details h5 {
  color: grey;
  font-weight: 100;
  margin: 10px;
}
.card__url img {
  width: 40px;
}
.card__url a {
  margin: 10px;
}
.card__url {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
