.header_div {
  display: flex;
  align-items: center;
  padding: 0px 30px;
  border-bottom: solid 1px black;
}
.header__logo {
  height: 110px;
}

.header__icon {
  width: 30px;
  height: 30px;
}
.header_img {
  display: flex;
  justify-content: end;
  flex-grow: 1;
}
