body {
  font-family: sans-serif;
}
.rootele {
  color: red;
}
.title {
  color: blue;
  text-align: center;
}
.card__body h2 {
  padding-top: 10px;
  color: darkslategrey;
}
.card__containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 100px;
}
