body {
  font-family: sans-serif;
  a {
    text-decoration: none;
  }
}
.rootele {
  color: red;
}
.title {
  color: blue;
  text-align: center;
}
.card {
  &__containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 100px;
  }
  &__body h2 {
    padding-top: 10px;
    // color: darkslategrey;
  }
}
/* search css */
input[type="text"] {
  width: 250px;
  border-radius: 50px;
  padding: 10px;
  border: solid 1px slategrey;
}
.search {
  flex-grow: 1;
  justify-content: end;
  display: flex;
  padding-right: 30px;

  & button {
    border: 0;
    position: absolute;
    width: 40px;
    background: #708090;
    height: 38px;
    border-radius: 50%;
    & .fa-search {
      font-size: 17px;
      color: #fff;
    }
  }
}
